################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learn-NN-CSharp/Post1/NeuroSimple/.vs/NeuroSimple/v16
/Learn-NN-CSharp/Post1/NeuroSimple/NeuroSimple/bin/Debug/netstandard2.0
/Learn-NN-CSharp/Post1/NeuroSimple/NeuroSimple/obj
/Learn-NN-CSharp/Post1/NeuroSimple/NeuroSimple.Test/bin/Debug/netcoreapp2.2
/Learn-NN-CSharp/Post1/NeuroSimple/NeuroSimple.Test/obj
/Learn-NN-CSharp/Post1/NeuroSimple/.vs/NeuroSimple/DesignTimeBuild
/Learn-NN-CSharp/Post2/NeuroSimple/.vs/NeuroSimple
/Learn-NN-CSharp/Post2/NeuroSimple/NeuroSimple/bin/Debug/netstandard2.0
/Learn-NN-CSharp/Post2/NeuroSimple/NeuroSimple.Test/bin/Debug/netcoreapp2.1
/Learn-NN-CSharp/Post2/NeuroSimple/NeuroSimple.Test/obj
