################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learn-NN-CSharp/Post1/NeuroSimple/.vs/NeuroSimple/v16
