<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTableExt" version="2.0.1" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.5.0" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20180319" targetFramework="net461" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net461" />
</packages>