<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.CognitiveServices.Search.ImageSearch" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.10" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20180319" targetFramework="net461" />
  <package id="SharpCompress" version="0.22.0" targetFramework="net461" />
  <package id="SharpSerializer" version="3.0.1" targetFramework="net461" />
</packages>